.left {
  @apply shadow-lg bg-primary p-3 md:p-10 w-full md:w-1/2 2xl:w-2/3 rounded-xl relative;
}

.overflow {
  @apply flex flex-col justify-center overflow-y-auto;
}

.left.loading::after {
  background-size: 50px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-secondary-transparent);
}

.left.loading::before {
  z-index: 32;
  background: url('/ouroboros.svg') no-repeat center center;
  background-size: 50px;
  animation: rotate 2s linear infinite;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
