@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: url(/bodysvg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  @apply bg-secondary font-body;
}

.full-nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw !important;
  height: 100vh !important;
  @apply bg-secondary;
}

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-accent: #ff2662;

  --text-primary: #2d3748;
  --bg-secondary-transparent: rgba(249, 250, 251, 0.5);
  --text-secondary: rgb(74, 85, 104);
  --text-accent: rgb(255, 38, 98);
}

.dark {
  --bg-primary: #1b1b1b;
  --bg-secondary: #131313;
  --bg-accent: rgb(255, 38, 98);

  --text-primary: #fff;
  --bg-secondary-transparent: rgba(19, 19, 19, 0.5);
  --text-secondary: rgb(206, 206, 206);
  --text-accent: rgb(255, 38, 98);
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.levitate {
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
